/***************************************/
/* Responsive App Layout:
	responsive navigation bar
	screen width > 600px: sidebar
	screen width < 600px bottombar
*/
/***************************************/
.layout {
    display: flex;
    height: 100%;
}
.layout > nav {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.layout > nav > a:hover {
    color: #000000!important;
    background-color:#D1E7B7!important;
}
.layout > nav > span:last-child {
    margin-top: auto;
}
.layout > nav > .selected {
    color:#000000!important;
    background-color:#D1E7B7!important;
}
.layout > main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

@media (max-width: 992px) {
    .layout {
        flex-direction: column-reverse;
    }
    .layout > nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .layout > nav > a {
        flex: 1 1 auto;
        vertical-align: middle;
    }
    .layout > nav > span:last-child {
        display: none;
    }
}