/***************************************/
/* Overwrite Default Styles: */
/***************************************/
html,
body {
    font-family: "Ubuntu";
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-weight: bold;
}

h2 {
    margin-top: 8px;
}

/***************************************/
/* Individual Styles: */
/***************************************/
