/***************************************/
/* Overwrite Default Styles: */
/***************************************/
html,
body {
    font-family: "Ubuntu";
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    margin-top: 8px;
}

th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.20);
}

/***************************************/
/* Individual Styles: */
/***************************************/
