{% extends "sub_pages/base.html" %}
{% import "macros/cards.html" as cards %}
{% import "macros/buttons.html" as buttons %}

{% set settings_selector = "selected" %}
{% set page_title = "Intervals" %}
{% set backpath = url_for("web.settings.index") %}
{% set heading = "Intervals" %}

{% block main %}
<div class="app">
    <header class="w3-container">
        Header
    </header>
    <main class="w3-container">
        Main
    </main>
    <footer class="w3-container">
        Footer
    </footer>
</div>
{% endblock %}