{% extends "sub_pages/base.html" %}
{% import "macros/cards.html" as cards %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/picker.html" as picker %}


{% set page_title = "Measurements" %}
{% set backpath = url_for("web.dashboard.index") %}
{% set heading = "Measurements" %}

{% block action %}
{{ buttons.button_secondary("Load Data", "showElement('id_range_selector'); initTabs();") }}
{% endblock %}

{% block main %}
<div id="viewcontainer" style="height: 100%;">
    <div id="view" style="height: 100%;">
        <canvas id="lines"></canvas>
    </div>
    <div id="id_range_selector" class="w3-modal">
        <div class="w3-modal-content w3-transparent">
            {{ picker.html("parseDateTime") }}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='dashboard.js') }}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    // Global Varaiables:
    const WINDOW_SIZE = 48 * 60 * 60 * 1000; // 48 hours

    // Run Initalization:
    window.onload = init;
    window.onresize = init;
    // const darkModePreference = window.matchMedia("(prefers-color-scheme: dark)");
    // darkModePreference.onchange = plot;

    async function init() {
        // Rotate to Landscape:
        if(false) { // if(screen.orientation.type.startsWith("portrait"))
            const viewcontainer = document.getElementById("viewcontainer");
            const rect = viewcontainer.getBoundingClientRect();
            const horizontalOffset = (rect.width/2) - (rect.height/2);
            const verticalOffset = (rect.height/2) - (rect.width/2);

            const view = document.getElementById("view");
            view.style.transform = "translate("+horizontalOffset+"px, "+verticalOffset+"px) rotate(90deg)";
            view.style.width = rect.height+"px";
            view.style.height = rect.width+"px";
        }

        // Plot Empty Chart:
        plotLines("lines");

        // Get Timestamps:
        try {
            const ts = await fetchLatestTimestamps();
            const stop = ts["last_data"];
            const start = new Date(stop.getTime() - WINDOW_SIZE);
            initPicker(start, stop);
        } catch(error) {
            window.alert("Could not fetch data: "+error);
            return;
        }
    }

    async function parseDateTime(startDateID, startTimeID, stopDateID, stopTimeID) {
        const [start, stop] = getRange();
        try {
            // plotLines("lineChartDiv");
            await updateData(start, stop, null, "lines", append=false);
        } catch(error) {
            window.alert("Could not update data: "+error);
            return;
        } finally {
            hideElement('id_range_selector');
        }
    }

</script>
{{ picker.javascript() }}
{% endblock %}