{% extends "main_pages/base.html" %}
{% import "macros/cards.html" as cards %}
{% import "macros/buttons.html" as buttons %}

{% set page_title = "Dashboard" %}
{% set dashboard_selector = "selected" %}
{% set heading = "Dashboard" %}

{% block style %}
<style>
.board {
    height: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.logs {
    flex-grow: 1;
}

th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
    background: #F1F1F1;
}
.scrollable { /* use for "main" to make content scrollable */
    height: 1px;
    overflow: auto;
}
@media (max-width: 992px) {
    .scrollable {
        min-height: 300px;
    }
}
</style>
{% endblock %}

{% block main %}
<div class="board">
    {% call cards.panel() %}
    <div class="app">
        <header>
            <h2 class="w3-left">Live</h2>
            <div class="w3-right">
                {{ buttons.primary_link("More Details", url_for("web.dashboard.live")) }}
            </div>
        </header>
        <main>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </main>
    </div>
    {% endcall %}
    {% call cards.panel(additional_classes="logs") %}
    <div class="app">
        <header>
            <h2 class="w3-left">Logs</h2>
            <div class="w3-right">
                {{ buttons.primary_link("See All", url_for("web.dashboard.logs")) }}
            </div>
        </header>
        <main class="scrollable w3-round-xlarge">
            <table class="w3-table w3-striped w3-round-xlarge">
                <tr class="w3-card">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
            </table>
        </main>
    </div>
    {% endcall %}
    {% call cards.panel(additional_stylings="width: 100%") %}
    <div style="width: 100%;">
        <h2>Measurements</h2>
    </div>
    {% endcall %}
</div>
{% endblock %}