{% extends "main_pages/base.html" %}
{% import "macros/cards.html" as cards %}
{% import "macros/buttons.html" as buttons %}

{% set page_title = "Dashboard" %}
{% set dashboard_selector = "selected" %}
{% set heading = "Dashboard" %}

{% block style %}
<style>
.board {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.logs {
    flex-grow: 1;
}

.scrollable { /* use for "main" to make content scrollable */
    height: 1px;
    overflow: auto;
}
@media (max-width: 992px) {
    .scrollable {
        min-height: 300px;
    }
}
</style>
{% endblock %}

{% block main %}
<div class="board">
    {% call cards.white(stylings="min-width: 30vw;") %}
    <div class="app">
        <header class="w3-cell-row" style="padding-top: 8px;">
            <div class="w3-cell w3-left-align">
                <h2>Live</h2>
            </div>
            <div class="w3-cell w3-cell-top w3-right-align">
                {{ buttons.link_primary("More Details", url_for("web.dashboard.live")) }}
            </div>
        </header>
        <main class="w3-center">
            <div class="loader w3-margin"></div>
        </main>
    </div>
    {% endcall %}
    {% call cards.white(stylings="flex-grow: 1; min-height: 300px;") %}
    <div class="app">
        <header class="w3-cell-row" style="padding-top: 8px;">
            <div class="w3-cell w3-left-align">
                <h2>Logs</h2>
            </div>
            <div class="w3-cell w3-cell-top w3-right-align">
                {{ buttons.link_primary("More Details", url_for("web.dashboard.logs")) }}
            </div>
        </header>
        <main class="scrollable w3-round-large" style="margin-bottom: 8px;">
            <div id="logs_table_waiting" class="loader w3-margin"></div>
            <table id="logs_table" class="w3-table w3-bordered w3-round-large"> </table>
        </main>
    </div>
    {% endcall %}
    {% call cards.white(stylings="width: 100%; min-height: 300px;") %}
    <div class="app">
        <header class="w3-cell-row">
            <div class="w3-cell w3-left-align">
                <h2 class="w3-left">Measurements</h2>
                <div id="myChart_waiting" class="loader w3-margin"></div>
            </div>
        </header>
        <main>
            <canvas id="myChart"></canvas>
        </main>
    </div>
    {% endcall %}
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static',filename='script.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    const DELTA_DAYS = 2
    let myChart;
    loadLatestValues(loadDashboardValues);

    function loadDashboardValues(startTime, stopTime) {
        loadLogs(startTime, stopTime);
        loadData(startTime, stopTime);
    }
</script>
{% endblock %}